@import "tailwindcss";

@theme {
  --color-solar-bg: #1E293B;
  --color-solar-text: #4ADE80;
  --color-retro-wood: #78350f;
  --color-retro-white: #f1f5f9;

  --color-pixel-bg: #5c94fc;
  --color-pixel-ground: #e86a17;
  --color-pixel-grass: #80d010;

  --color-shell-wood: #78350f;
  --color-shell-purple: #8b5cf6;
  --color-shell-pink: #ec4899;
  --color-shell-teal: #14b8a6;
  --color-shell-dark: #1e293b;

  --font-retro: "Press Start 2P", cursive;
  --font-pixel: "VT323", monospace;

  --animate-float: float 3s ease-in-out infinite;
  --animate-cloud-move: cloud-move 60s linear infinite;

  @keyframes float {

    0%,
    100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes cloud-move {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(100vw);
    }
  }
}

/* Utility for Pixel Border (NES Style) */
.pixel-box {
  box-shadow:
    -4px 0 0 0 black,
    4px 0 0 0 black,
    0 -4px 0 0 black,
    0 4px 0 0 black;
  margin: 4px;
}

.pixel-text-shadow {
  text-shadow: 4px 4px 0px #000;
}